<!doctype html>
<html ng-app="firstApp">
   <head>
      <title>Controller</title>
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
   </head>
   <body ng-controller="FirstController">
      <div class="jumbotron text-center" >
          <h2>Welcome <code>{{hello.title}}</code> to the world of Angular JS</h2>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <p>Example <code>ng-repeat</code></p>
               <ol>
                  <li ng-repeat="country in countries">
                     {{country.name}} : {{country.local}}
                  </li>
               </ol>
            </div>
            <div class="col-md-6">
               <p>Example <code>ng-repeat</code> in <code>expression</code></p>
               <ol>
                  <li ng-repeat="country in countries">
                     {{country.name + " " + country.local}}
                  </li>
               </ol>
            </div>
         </div>
         <div class="row">
            <div class="col-md-6">
               <p>Example <code>ng-repeat</code> with <code>order by</code></p>
               <ol>
                  <li ng-repeat="country in countries | orderBy:'name'">
                     {{country.name}} : {{country.local}}
                  </li>
               </ol>
            </div>
            <div class="col-md-6">
               <p>Example <code>ng-repeat</code> with <code>filter</code></p>
               <ol>
                  <li ng-repeat="country in countries ">
                     {{country.name}} : {{country.local}} - {{country.rate | currency}}
                  </li>
               </ol>
            </div>
         </div>
      </div>
      <script type="text/javascript">
         angular.module('firstApp', [])
         .controller('FirstController', function($scope){
            $scope.hello = {};
            $scope.hello.title = 'Man and Women';
            $scope.countries = [
               {
                  "local": "en-US",
                  "name": "United States",
                  "rate": "1.2"
               },
               {
                  "local": "en-GB",
                  "name": "Unites Kingdom",
                  "rate": "4.2"
               },
               {
                  "local": "en-FR",
                  "name": "France",
                  "rate": "3.22"
               }
            ];

         });
      </script>
   </body>
</html>